@mixin VHCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  @include VHCenter;

  flex-direction: column;
}

.todo-header {
  h1 {
    font-size: 3rem;
  }
}

.todo-input {
  width: 400px;

  .new {
    width: 360px;
    padding: 2rem;
    border: none;
    font-size: 1.5rem;
    outline: none;
  }
}

.todo-list {
  list-style: none;
  width: 380px;
  margin: 0;
  padding: 0 1rem;
  font-size: 1rem;

  li {
    padding: 0.5rem;

    input[type='checkbox'] {
      cursor: pointer;
    }

    label {
      padding-left: 1rem;

      &.todo-label-completed {
        text-decoration: line-through;
      }
    }

    span {
      float: right;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: steelblue;
      }
    }
  }
}

.todo-footer {
  @include VHCenter;

  width: 400px;
  margin-top: 1rem;

  button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background: steelblue;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:disabled {
      background: grey;
    }
  }
}
